/* Desktops @1440p */
@media only screen and (min-width: 1921px){
  #slide2 {
    background-image: url(./assets/football1B.jpg);
  }
  .carousel-item {
    height: 50rem !important;
    background-position: bottom !important;
  }
}

/* Tablets and Desktops @1080p */
@media only screen and (min-width: 768px) and (max-width: 1920px){
  #slide2 {
    background-image: url(./assets/football1B.jpg);
  }
  .navbar-brand h4 {
    font-size: 2.4vmin !important;
  }
  .navbar-brand p {
    font-size: 1.5vmin !important;
    padding-left: 3px !important;
  }
  .navbar-brand img {
    height: 5.5vmin !important;
  }
  .navbar-nav>li>a {
    font-size: 1.7vmin !important;
  }
}

/* Mobile, Tablets and smaller devices*/
@media only screen and (min-width: 320px) and (max-width: 768px){
  #slide2 {
    background-image: url(./assets/football1A.jpg);
  }
  .carousel-item {
      height: 22rem !important;
  }
}

* {
  font-family: "Montserrat";
}

.navbar {
  /* position: absolute;
  width:100%;
  z-index:10;
  max-width:100%; */
  /* background-color: #AA0202; */
  /* background-color: #A60202; */
  /* background-color: #610000; */
  /* background-color: #550000; */
  background-color: #610101;
}

.navbar-brand img {
  height: 8.8vmin;
}

.navbar-brand h4 {
  font-size: 3.8vmin;
  color: white;
}

.navbar-brand p {
  font-size: 2.6vmin;
}

.navbar-nav>li>a {
  color: white;
}

.navbar-nav>li:hover a {
  color: rgb(223, 223, 223);
}

.navbar-nav>li>a:target, .navbar-nav>li>a:focus, .navbar-nav>li>a:active {
  color: rgb(194, 194, 194);
  background-color: transparent;
}

.navbar-toggler-icon {
  background-image: url("./assets/menu_white.png");
  background-color: transparent;
  width: 20px;
  height: 25px;
}


.navbar-toggler:hover, .navbar-toggler:focus {
  border-color: #D3D3D3;
  outline: none;
  box-shadow: none;
  padding: 0px 4px 0px 4px;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 0;
  filter:alpha(opacity=0); /* IE support */
}

.carousel-item {
 height:32rem;
 position: relative;
 background-position: center;
 background-size:cover;
 color: white !important;
}

#carouselcontainer1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom:50px;
}

#main-content h2  {
  color: #00791B !important;
}

  /* Content Divider */
 hr {
  height: 0px;
  border: none;
  border-top: 1px solid green;
 }

 #btn-back-to-top {
   position: fixed;
   bottom: 20px;
   right: 20px;
   display: none;
   padding: 0px 4px 2px 4px;
 }